/* montserratmedium */
@font-face {
	font-family: 'montserratmedium';
	src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
	url('fonts/montserrat-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* montserratregular */
@font-face {
	font-family: 'montserratregular';
	src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
	url('fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* montserratsemibold */
@font-face {
	font-family: 'montserratsemibold';
	src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
	url('fonts/montserrat-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

body {
	background: #F7F8FB;
}

.navbar {
	background: #FFF;
	-webkit-box-shadow: -2px 5px 18px -2px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 5px 18px -2px rgba(0,0,0,0.4);
	box-shadow: -2px 5px 18px -2px rgba(0,0,0,0.4);
	max-height: 80px;
}
.navbar_individual {
	background: #FFF;
	-webkit-box-shadow: -2px 5px 18px -2px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 5px 18px -2px rgba(0,0,0,0.4);
	box-shadow: -2px 5px 18px -2px rgba(0,0,0,0.4);
	max-height: 140px;
}

.profile-info {
	position: relative;
	right: 0;
	width: 100%;
	text-align: right;
}

.profile-info .profile-img {
	max-width: 60px;
}

.profile-info .profile-text {
	display: inline-block;
	vertical-align: middle;
}

.profile-info .profile-text p {
	margin: 0;
	font-family: 'montserratsemibold';
}

.profile-info .profile-text .profile-role {
	color: #5d9aff;
	font-size: 11px;
	text-align: right;
}

.show-md {
	display: none;
}

.hide-md {
	display: inline-block;
}

table .hide-md {
	display: table-cell;
}

.logoContainer {
	text-align: center;
	padding: 0;
}

.logo {
	max-width: 200px;
	width: 100%;
}

.navbar .logo {
	max-width: 140px;
}

.profile-info .profile-img {
	max-width: 50px;
}

.profile-info .profile-name {
	font-size: 14px;
}

.btn-link {
	color: #FFF;
	text-decoration: none;
}

.menu-column {
	position: sticky;
	top: 0;
	background: #0072BF;
	color: #FFF;
	padding: 0;
}

.background-dienst {
	background: #0072BF;
}

.color-dienst {
	color: #0072BF;
}

.menu-column .menu-left-column{
	padding: 0;
}

#menuHome .card,
#menuHome > a,
#menuHome .card .card-header {
	background: #0072BF;
	border: 0;
	padding: 0 .25rem;
	font-family: 'montserratregular';
}

#menuHome > a {
	margin-left: 16px;
}

.close-session {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

#menuHome .card {
	margin: 5px 0;
}

#menuHome .btn-principal {
	width: 100%;
	text-align: left;
}

#menuHome .btn-principal:after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: 0;
	content: "";
	border-top: .3em solid transparent;
	border-right: .3em solid transparent;
	border-bottom: .3em solid transparent;
	border-left: .3em solid ;
	margin-left: 13px;
}

#menuHome .btn-principal[aria-expanded=true]:after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: 0;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	margin-left: 13px;
}

#menuHome .btn-link:hover,
#menuHome .btn-link:focus,
#menuHome .btn-link:active {
	color: #B9D1FF;
	text-decoration: none;
}

#menuHome .card .card-body {
	padding: 0 1.25rem ;
}

#menuHome .sub-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menuHome .sub-menu a {
	font-size: 13px;
	padding: 0 12px ;
	text-align: left;
}

a.btn.btn-link.active {
	text-decoration: underline;
}

a.btn.btn-link.active {
	font-weight: bold;
}

.content {
	background: #F7F8FB;
	padding: 0;
	margin: 0;
}

.content .title-section {
	background: #0072bf;
	font-family: 'montserratsemibold';
	height:130px;
	color: #FFF;
	padding: 40px 0;
}


.content .title-section-bajo {
	background-color: #0072bf;;
	color: #FFF;
}

.content .title-section h4
{
	padding-left: 5%;
	padding-top: 3%;
}

.content .title-section h4{
	padding-left: 5%;
	padding-top: 3%;
}

 table>thead>tr:nth-child(1)>th>h6{
	font-family: 'montserratsemibold';
	color: #FFF;
	margin-top: 4%;
	float:left
 }
 table>thead>tr:nth-child(1)>th>span{
	font-family: 'montserratsemibold';
	color: #FFF;
	margin-top: 4%;
	float:right;
	font-size: smaller;
 }


.content .title-section p {
	margin: 0;
	margin-left: 20px;
}

.content .filter-section,
.content .results {
	margin-top: 20px;
	padding: 15px;
	background: white;
}

.content .filter-section button {
	max-width: 200px;
}

.content .results .title-results {
	font-family: 'montserratsemibold';
	color: #0072bf;
	padding: 10px 0;
	border-bottom: 3px solid #0072bf;
}
.content .results .span-results {
	font-family: 'montserratsemibold';
	color: #0072bf;
	font-size:smaller;
	padding: 10px 0;
}


.content .results  table,
.content .results  tbody td,
.content .results  tbody,
.content .results  tbody  th {
	border: 0;
}

.content .results thead {
	text-align: center;
	color: #0072bf;
	text-transform: uppercase;
	font-family: 'montserratregular';
}

.content .results  tbody td,
.content .results  tbody  th {
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	font-family: 'montserratregular';
	color: #656565;
	text-align: center;
}

.content .results  tbody tr {
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
}

.content .results  tbody:before {
	content:"@";
	display:block;
	line-height:10px;
	text-indent:-99999px;
}

.modal .modal-header {
	background: #0072bf;
	color: #FFF;
}

.content .results .open-modal-button {
	text-decoration: none;
	font-family: 'montserratregular';
	color: #656565;
}

#modalInfo .content-title {
	color: #0072bf;
	font-family: 'montserratregular';
	font-size: 20px;
}

#modalInfo .content-info {
	color: #656565;
	font-family: 'montserratregular';

}

#modalInfo #modal-footer {
	border: 0;
}

#modalInfo .modal-footer a,
#modalInfo .modal-footer a i.icon{
	height: 40px;
	width: 40px;
}

.open-menu,
.close-menu {
	background: transparent;
	border: 0;
	padding: 0;
}

.close-menu {
	position: absolute;
	top: 10px;
	right: 20px;
	font-weight: bold;
	font-size: 20px;
	color: #fff
}

@media (max-width: 870px) {
	.content .results  tbody td {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.show-md{
		display: inline-block;
	}

	.hide-md {
		display: none!important;
	}

	.profile-info {
		width: auto;
	}

	.footer-results p {
		font-size: 0.8rem;
	}
}

@media (max-width: 420px) {
	.navbar .logo {
		max-width: 110px;
	}

	.profile-info .profile-img {
		max-width: 35px;
	}

	.profile-info .profile-name {
		font-size: 12px;
	}
}

.showUp {
	display: block!important;
}

.view .results {
	color: #676767;
	font-family: 'montserratregular'
}


.view .results span {
	font-family: 'montserratmedium';
}


.select2-container {
	margin-top: 10px!important;
}

.select2-selection--multiple:before {
	content: "";
	position: absolute;
	right: 7px;
	top: 42%;
	border-top: 5px solid #888;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.active{
	color:rgb(246, 231, 231)
}

.footer-results {
	position: fixed;
	bottom: 0;
	right: 0;
	width: auto;
	background: #cecece;
	z-index: 999;
	left: 352px;
}

hr {
	display: block;
	width: 80%;
	border: 1px solid #0072BF;
}